
Files/Software/arduino-1.8.19-macosx.zip
Files/Software/arduino-1.8.19-windows.exe
Files/Software/arduino-1.8.19-windows.exe
Files/Software/pycharm-community-2021.3.2.dmg
Files/Software/pycharm-community-2021.3.2.exe
